@mixin border-radius {
    box-shadow: 5px 5px 10px #ccc;
    border-radius: 10px;
    -webkit-border-radius:10px;
}
/* 修改ui框架的样式 */
.white-text{
    color:$white-text
}
.green-text{
    color:$green-text
}
.purple-text{
    color:$purple-text
}
.gray-text{
    color:$gray-text
}
/* element-ui样式修改 */

/* 下拉框部分 */
.select .el-input__inner{
    border: 0;
    background: #2F324B!important;
    width: 220px;
    font-size: 18px;
    color: #ffffff!important;
}
/* 表格部分 */
.table thead tr th{
    background: #2F324B;
    border: 0!important;
    color: #FEFEFE;
    text-align: center;
    height: 20px!important;
    padding: 5px 0;
}
.table .el-table td{
    border: 0!important;
    padding: 7px 0;
    line-height: 18px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap!important;
    color: #ffffff;
}
.table .el-table td .cell{
    white-space: nowrap!important;
}
.table tbody{
    border:0!important;
}
.table tbody td{
    background: #2F324B;
}
.table tbody tr:nth-child(odd) td{
    background: #282A3F;
}
.table .el-table{
    background: #2F324B;
}
.table .el-table tbody tr:hover>td { 
    background-color:#585C76!important;
    cursor: pointer;

}
/* 很关键下面会有白杠 */
.table .el-table::before{
    background-color:#2F324B;
 }


/* 实有房产的表格部分 */
.table2 thead tr th{
    background: #2F324B;
    border: 0!important;
    color: #FEFEFE;
    text-align: center;
    height: 20px!important;
    padding: 10px 0;
}
.table2 .el-table td{
    border: 0!important;
    padding: 7px 0;
    line-height: 18px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap!important;
    color: #ffffff;
}
.table2 .el-table td .cell{
    white-space: nowrap!important;
}
.table2 tbody{
    border:0!important;
}
.table2 tbody td{
    background: #2F324B;
}
.table2 tbody tr:nth-child(odd) td{
    background: #282A3F;
}
.table2 .el-table{
    background: #2F324B;
}
.table2 .el-table tbody tr:hover>td { 
    background-color:#585C76!important;
    cursor: pointer;
}
/* 很关键下面会有白杠 */
.table2 .el-table::before{
    background-color:#2F324B;
 }

/* 实有房产翻页 */
.table2 .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li {
    color:$gray-text;
    background:#2F324B!important;
    box-shadow:0px 1px 8px 0px rgba(28,31,52,0.99);
}
.table2 .el-pagination__jump{
    color:$gray-text!important;
    font-weight: 900!important;
}

//滚动条样式

::-webkit-scrollbar {
    width: 5px; /*对垂直流动条有效*/
    height: 5px; /*对水平流动条有效*/
}

/*定义滚动条的轨道颜色、内阴影及圆角*/
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rosybrown;
    border-radius: 3px;
    
}


/*定义滑块颜色、内阴影及圆角*/
::-webkit-scrollbar-thumb{
    border-radius: 7px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #E8E8E8;
    margin:0 auto;
}

/*定义两端按钮的样式*/
::-webkit-scrollbar-button {
    background-color:cyan;
    display: none;
}

/*定义右下角汇合处的样式*/
::-webkit-scrollbar-corner {
    background:khaki;
}
.legend{
    text-align: center;
}
/* 实有人口选框 */
.selected2 .el-input__inner{
    border: 0;
    background: #4B57B6!important;
    width: 127px;
    font-size: 16px;
    color: #ffffff!important;
    height: 32px;
}
.selected2 .el-input__suffix-inner .el-select__caret{
    margin-top: 5px;
}
.selected2 .is-reverse{
    margin-top: -2px!important;
}
.searchCase .el-input__inner{
    width: 180px;
    height: 36px;
    background: #595C75;
    border: 0;
    color: #fff;
}
.searchCase .el-input{
    width: 180px;
    float: left;
}
.searchCase2 .el-range-input{
    //width: 180px!important;
    background: #595C75!important;
    color: #fff!important;
}
.searchCase2 .el-date-editor{
    height: 36px!important;
    background: #595C75!important;
    border: 0;
    color: #fff!important;
}
.searchCase2 .el-range-separator{
    height:32px!important;
    color: #fff!important;
   /*  line-height: 36px; */
}
.searchCase2 .el-input__inner{
    border:0;
}
/* 删除警示框 */
.el-dialog__wrapper .el-dialog--center{
    background: #2F324B!important;
}
.el-dialog__wrapper .el-dialog--center .el-dialog__footer button{
    border: 0;
    outline: 0;
    padding: 6px 35px;
    font-weight: 900;
    color: #fff;
    border-radius: 5px;
}
.el-dialog__wrapper .el-dialog--center .el-dialog__footer .btn1{
    background: #5C6AD4;
}
.el-dialog__wrapper .el-dialog--center .el-dialog__footer .btn2{
    background: #3C3F58;
}
.el-dialog__wrapper .el-dialog--center .el-dialog__close{
    border-radius: 50%;
    padding: 3px;
    font-size: 12px;
    background: #5C6AD4;
}
.el-dialog__title{
    color: #fff!important;
}
/* 新增框 */
.el-dialog__wrapper .el-form-item{
    display: inline-block;
}
.el-dialog__wrapper .el-input__inner{
    width: 280px;
    background: #595C75!important;
    color: #fff;
    border: 0;
    outline: 0;
}
.el-dialog__wrapper .el-textarea__inner{
    background: #595C75!important;
    color: #fff;
    border: 0;
    outline: 0;
}
.el-dialog__wrapper .el-form-item__label{
    color: #fff;
}
.el-dialog__wrapper .el-textarea{
    width: 685px;
}